In [1]:
# OTHERS
import os
import math
import calendar
from math import sqrt
# from datetime import datetime



# PANDAS LIBRARIES
from pandas import read_csv
from pandas import Series
from pandas import DataFrame
from pandas import concat
from pandas import to_datetime



# NUMPY LIBRARIES
import numpy as np



# MATPLOTLIB LIBRARIES
from matplotlib import pyplot as plt

In [2]:
rmse_df = read_csv("datasets/aep/xps/hourly/ts/minmax/4/rmsetop.csv")

In [12]:
rmse_df.sort_values(by = ["rmse"], inplace = True)
rmse_df.reset_index(drop = True)[0:9]

   month  day  split  rmse
0      4    2     10  1.48
1      4    1     10  3.09
2      4    7     10  3.66
3      4   25     10  3.95
4      4   10     10  4.16
5      4   20     10  5.32
6      4   27     10  5.42
7      4    6     10  6.12
8      4   13     10  7.76